* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(90deg, rgba(221,174,238,1) 0%, rgba(163,148,233,1) 100%);
}

h1 {
    background-color: rgb(205, 75, 223);
    border: 5px solid rgb(193, 17, 247);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: fit-content;
}